<!-- Main container -->
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-5">
        <strong>123</strong> posts
      </p>
    </div>
    <div class="level-item">
      <div class="field has-addons">
        <p class="control">
          <input class="input" type="text" placeholder="Find a post">
        </p>
        <p class="control">
          <button class="button">
            Search
          </button>
        </p>
      </div>
    </div>
  </div>
</nav>
<table class="table">
  <thead>
  <tr>
    <th><abbr title="Pharmazentralnummer">PZN</abbr></th>
    <th>Produktname</th>
    <th>Inhalt</th>
    <th>Preis</th>
    <th>Noch übrig</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let product of products">
    <tr *ngIf="getProductInfoById(product.productInfoId) != null">
      <td>{{product.pzn}}</td>
      <td>{{getProductInfoById(product.productInfoId).name}}</td>
      <td>{{product.amount}}&nbsp{{product.unit}}</td>
      <td>{{product.price}}</td>
      <td>{{product}}</td>
    </tr>
  </ng-container>
  </tbody>

</table>
